.portfolio-container { 

    background-color: rgba(23, 48, 88, 1); 

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); 

    display: flex; 

    flex-direction: column; 

    overflow: hidden; 

    border: 1px solid rgba(0, 0, 0, 1); 

    min-height: 100vh;

  } 

   

  .header-wrapper { 

    display: flex; 

    width: 100%; 

    flex-wrap: wrap; 

  } 

   

  .nav-container { 

    background-color: transparent; 

    display: flex; 

    align-items: center; 

    gap: 24px 7px; 

    overflow: hidden; 

    justify-content: space-between; 

    flex-wrap: wrap; 

    flex-grow: 1; 

    flex-basis: auto; 

    padding: 20px; 

  } 

   

  .logo-wrapper { 

    align-self: stretch; 

    display: flex; 

    flex-direction: column; 

    justify-content: center; 

    width: 92px; 

    margin: auto 0; 

    padding: 10px; 

  } 

   

  .logo-image { 

    aspect-ratio: 1.33; 

    object-fit: contain; 

    object-position: center; 

    width: 72px; 

    border-radius: 50%; 

  } 

   

  .header-title { 

    align-self: stretch; 

    min-width: 240px; 

    gap: 10px; 

    flex-wrap: wrap; 

    width: 331px; 

    margin: auto ; 

    padding: 0px; 

  } 

   

  .title-roboto { 

    font: 400 32px Roboto Serif, sans-serif; 

    color: rgba(241, 234, 226, 1); 

  } 

   

  .title-playfair { 

    font: 400 32px Playfair Display, sans-serif; 

    color: rgba(241, 234, 226, 1); 

  } 

   

  .nav-menu { 

    border-radius: 5px; 

    display: flex; 

    flex-direction: column; 

    overflow: hidden; 

    justify-content: center; 

    flex-grow: 1; 

    flex-basis: 0; 

    width: fit-content; 

    margin: auto 0; 

    padding: 16px 300px; 

  } 

   

  .menu-items { 

    display: flex; 

    width: 100%; 

    align-items: start; 

    gap: 16px 7px; 

    overflow: hidden; 

    justify-content: space-between; 

    flex-wrap: wrap; 

  } 

   

  .menu-link { 

    color: rgba(241, 234, 226, 1); 

    font: 400 24px Roboto Serif, sans-serif; 

  } 

   

  .main-content { 

    background-color: transparent; 

    align-self: end; 

    display: flex; 

    margin-top: 33px; 

    min-height: 343px; 

    width: 100%; 

    max-width: 943px; 

    align-items: start; 

    gap: 10px; 

    overflow: hidden; 

    justify-content: start; 

    flex-wrap: wrap; 

    padding: 15px 100px 54px; 

  } 

   

  .intro-card { 

    display: flex; 

    min-width: 240px; 

    width: 717px; 

    align-items: center; 

    gap: 10px; 

    overflow: hidden; 

    justify-content: center; 

    flex-wrap: wrap; 

    flex-grow: 1; 

  } 

   

  .intro-wrapper { 

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); 

    align-self: stretch; 

    display: flex; 

    min-width: 240px; 

    width: 714px; 

    align-items: center; 

    overflow: hidden; 

    flex-wrap: wrap; 

    flex-grow: 1; 

    margin: auto 0; 

  } 

   

  .intro-image-wrapper { 

    align-self: stretch; 

    display: flex; 

    min-width: 270px; 

    flex-direction: column; 

    justify-content: center; 

    width: 298px; 

    margin: auto -19; 

    padding: 0px 0 0px 0px; 

  } 

   

  .intro-image { 

    aspect-ratio: 2.85; 

    object-fit: contain; 

    object-position: center; 

    width: 300px; 

    max-width: 100%; 

  } 

   

  .intro-text { 

    align-self: stretch; 

    width: 594px; 

    background-color: rgba(237, 217, 193, 1); 

    min-width: 240px; 

    min-height: 80px; 

    gap: 10px; 

    overflow: hidden; 

    color: rgba(23, 48, 88, 1); 

    margin: auto 0; 

    padding: 10px 0px; 

    font: 400 32px Roboto Serif, sans-serif; 

  } 

   

  .profile-card { 

    background-color: transparent; 

    display: flex; 

    min-width: 240px; 

    align-items: start; 

    gap: 10px; 

    overflow: hidden; 

    color: rgba(23, 48, 88, 1); 

    white-space: nowrap; 

    justify-content: start; 

    flex-wrap: wrap; 

    flex-grow: 1; 

    width: 701px; 

    padding: 20px; 

    font: 400 32px Roboto Serif, sans-serif; 

  } 

   

  .profile-content { 

    background-color: rgba(237, 217, 193, 1); 

    display: flex; 

    min-width: 240px; 

    width: 669px; 

    align-items: center; 

    gap: 40px 160px; 

    overflow: hidden; 

    justify-content: start; 

    flex-grow: 1; 

  } 

   

  .profile-text { 

    align-self: stretch; 

    width: 152px; 

    margin: auto 0; 

  } 

   

  .project-text { 

    align-self: stretch; 

    width: 167px; 

    margin: auto 0; 

  } 

   

  .profile-image { 

    aspect-ratio: 3.0; 

    object-fit: contain; 

    object-position: center;  

    align-self: stretch; 

    min-width: 0px; 

    margin: auto 0; 

  } 

   

  @media (max-width: 991px) { 

    .portfolio-container { 

      padding-right: 20px; 

    } 

     

    .header-wrapper, 

    .nav-container, 

    .nav-menu, 

    .menu-items, 

    .main-content, 

    .intro-card, 

    .intro-wrapper, 

    .intro-text, 

    .profile-card { 

      max-width: 100%; 

    } 

     

    .main-content { 

      margin-right: 2px; 

    } 

     

    .profile-content { 

      white-space: initial; 

    } 

     

    .profile-card { 

      white-space: initial; 

    } 

  } 
